# TI Hercules RM46L852 SoC

# Copyright (c) 2017, 2021, Alexander Bulychev <a.f.bulychev@gmail.com>
# SPDX-License-Identifier: Apache-2.0

#if SOC_RM46L852

config SOC
	default "rm46l852"

config NUM_IRQS
	default 128

#endif # SOC_RM46L852