# Copyright (c) 2021 Alexander Bulychev <a.f.bulychev@gmail.com>
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_RM46
	bool "TI Hercules RM46"
	select ARM
	select CPU_CORTEX_R4
	select GIC_V1
#	select CPU_HAS_FPU
	select SOC_FAMILY_TIHERCULES
    help
	  Enable support for TI Hercules RM46.
